{% extends "base.html" %}

{% block title %}
GenomeAI | Login
{% endblock %}

{% block content %}

<section class="login-page">

    <div class="login-container">

        <!-- LEFT SIDE -->

        <div class="login-left">

            <span class="hero-tag">
                Welcome Back
            </span>

            <h1>
                Login to
                <span>GenomeAI</span>
            </h1>

            <p>
                Access your AI Genome Analysis dashboard,
                upload DNA files, track previous reports,
                and predict future baby health using Artificial Intelligence.
            </p>

            <img
                src="{{ url_for('static', filename='images/dna.png') }}"
                alt="DNA"
                class="login-dna">

        </div>

        <!-- RIGHT SIDE -->

        <div class="login-card">

            <h2>Sign In</h2>

            <p>
                Enter your account details
            </p>

            <form method="POST">

                <div class="input-group">

                    <label>Email Address</label>

                    <input
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                        required>

                </div>

                <div class="input-group">

                    <label>Password</label>

                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Enter your password"
                        required>

                </div>

                <div class="login-options">

                    <label>

                        <input type="checkbox">

                        Remember Me

                    </label>

                    <a href="#">

                        Forgot Password?

                    </a>

                </div>

                <button
                    class="login-btn"
                    type="submit">

                    Login

                </button>

            </form>

            <div class="login-footer">

                Don't have an account?

                <a href="{{ url_for('register') }}">

                    Register Here

                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}